<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.7/marked.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="vue.js"></script>
    <link href="style.css" rel="stylesheet">
    <title>Markdown Editor</title>
</head>
<body>

<div id="control">
    <div id="add" class="list-item">
        <input placeholder="Name" v-model="mdName">
        <button v-on:click="createMd">Add</button>
    </div>
    <div id="mdList">
        <div class="list-item" v-for="md in mds" v-on:click="mdSelect(md)">
            <div v-if="md._id === selected" style="background-color: aqua">{{md._id}}</div>
            <div v-else>{{md._id}}</div>
        </div>
    </div>
</div>

<div id="editor">
    <textarea id="area" v-model="content"></textarea>
    <div class="panel">
        <button v-on:click="save">Save</button>
        <button v-on:click="mdDelete">Delete</button>
    </div>
</div>

<div id="viewer" v-html="content"></div>

<script src="script.js"></script>
</body>
</html>